/* html {
  font-size: 62.5%;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 1600px;
  background-color: #000;
  background-color: #352f44;
  background-color: #393e46;
  background-color: #000;
  background-color: #2e2c40;
}

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.header:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1400px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 80%,
    #000 100%
  );

  z-index: 1000000;
}

.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#last {
  z-index: 10;
}

#text {
  position: relative;
  color: #fdf2e9;
  z-index: 2;
  font-size: 10em;
  text-align: center;
  padding-top: 80px;
  text-transform: uppercase;
  /* letter-spacing: 12px; */
  letter-spacing: 20px;
  font-family: "Castoro Titling", cursive;
}
#text {
  font-size: clamp(3rem, 12vw + 1rem, 8rem);
}

#text {
  text-shadow: 3px 3px #db504a;
  text-shadow: 3px 3px #3d6253;
}

.ab-text {
  padding: 100px 20%;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 40px;
  color: #fdf2e9;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.heading p {
  color: #9bacc4;
  font-size: 15px;
  line-height: 28px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 1.7rem;
  align-items: center;
  margin-top: 5rem;
}

.box {
  height: 340px;
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  background: gray;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url(img/uvid.jpg) center center no-repeat;
  background-size: cover;
}

.box2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url(img/empatija.jpg) center center no-repeat;
  background-size: cover;
}

.box3 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url(img/suradnja.jpg) center center no-repeat;
  background-size: cover;
}

.box4 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url(img/transformacija.jpg) center center no-repeat;
  background-size: cover;
}

/* .box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
  transform: translateY(-20px);
  transition: all 0.5s ease;
  opacity: 0.6;
} */

.in {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
}

.bottom {
  text-align: center;
  color: #adb5bd;
  padding-top: 150px;
  font-size: 14px;
  letter-spacing: 1px;
}

.bottom svg {
  height: 2em;
  width: 2em;
  fill: #e76f51;
  animation: beating-heart 2s infinite;
}

@keyframes beating-heart {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* intersection observer needed css */

.hidden {
  opacity: 0;
  filter: blur(0);
  /* transform: translateX(-100%); */
  /* transition: all 5s; */
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
  /* transition-delay: 4s; */
}

.box2 {
  transition-delay: 100ms;
}

.box3 {
  transition-delay: 300ms;
}

.box4 {
  transition-delay: 500ms;
}

/* 4.6. pocinjem raditi */

.header {
  width: 100%;
  background-image: url(img/first.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* #first {
  width: 100%;
  height: 100%;
} */

/* SPLIT CONTAINER STUFF - WORKING */

/* Generic Styles */

/* * {
  box-sizing: border-box;
}

.split-container {
  color: #333;
  color: #f0ece2;
}

.split-container h1 {
  margin: 0;
  font-size: 3rem;
}

.split-container p {
  margin-top: 0.6rem;
}

.split-container {
  width: 100%;
  height: 100vh;
}

#learn {
  background-color: #fed7aa;
  background-color: #4c6a58;
}

#teach {
  background-color: #bae6fd;
  background-color: #847974;
}

.split-container a {
  display: inline-block;
  margin-top: 1.2rem;
  background-color: white;
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
} */

/* Generic Styles End */
/* 
.split-container {
  display: flex;
}

.split {
  flex-basis: 50%;
}

@media screen and (max-width: 767px) {
  .split-container {
    flex-direction: column;
  }
} */

/* These styles are for centering the content within each split screen */
/* .split {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* HYPERFLEXED SPLIT STUFF */

.side {
  /* box-sizing: content-box; */
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: absolute;
  /* outline: 1px dashed red; */
}

.side .title {
  color: white;
  font-family: white;
  font-family: "Rubik", sans-serif;
  font-size: 6vw;
  margin: 0px 15vw;
  width: 70vw;
  text-align: center;
}

#left-side {
  /* background-color: #4c6a58; */
  /* background: linear-gradient(#000, #4c6a58); */
  background-image: url("img/firstfgh.jpg"),
    linear-gradient(
      180deg,
      hsl(0deg 0% 0%) 0%,
      hsl(144deg 16% 11%) 44%,
      hsl(144deg 16% 16%) 68%,
      hsl(144deg 16% 20%) 82%,
      hsl(144deg 16% 23%) 90%,
      hsl(144deg 16% 25%) 95%,
      hsl(144deg 16% 28%) 98%,
      hsl(144deg 16% 30%) 100%,
      hsl(144deg 16% 32%) 101%,
      hsl(144deg 16% 34%) 101%,
      hsl(144deg 16% 36%) 100%
    );
  z-index: 2;
}

#right-side {
  /* background-color: #847974; */
  /* /* background: linear-gradient(#000, #847974); */
  /* background: linear-gradient(#000, #4c6a58); */
  background-image: url("img/first1.jpg"),
    linear-gradient(
      180deg,
      hsl(0deg 0% 0%) 0%,
      hsl(19deg 6% 15%) 44%,
      hsl(19deg 6% 22%) 68%,
      hsl(19deg 6% 27%) 82%,
      hsl(19deg 6% 31%) 90%,
      hsl(19deg 6% 34%) 95%,
      hsl(19deg 6% 38%) 98%,
      hsl(19deg 6% 41%) 100%,
      hsl(19deg 6% 43%) 101%,
      hsl(19deg 6% 46%) 101%,
      hsl(19deg 6% 49%) 100%
    );
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
  color: white;
  /* margin: 0 10rem; */
}

.step-number {
  font-size: 8.6rem;
  /* font-size: 3rem; */
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  font-size: 1.4rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

/* more od general */

.how-container {
  /* 1140px */
  max-width: 80rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid--center-v {
  align-items: center;
}

/* QUERIES */

/* @media (max-width: 75em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .step-description {
    font-size: 14px;
  }
} */

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  /* .header {
    padding: 0 3.2rem;
  } */

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}

/* opet ja UVOD */

.uvod {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: #db504a; */
  background: linear-gradient(
    to bottom,
    #000 0%,
    rgba(0, 0, 0, 0.4) 30%,
    #3d6253 60%,
    #3d6253 100%
  );
}

.uvod::before {
  content: "";
  background-image: url(img/noise.jpg);
  background-image: url(img/twho-hands.png);
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.span-uvod {
  color: #fff;
  color: #000;
  color: #fdf2e9;
  color: #fae3e3;
  color: #9dbf9e;
  color: #ca054d;
  display: block;
  font-size: 12rem;
  margin-top: 2rem;
  text-shadow: 2px 2px #fae3e3;
  /* transition: color 1.5s ease-in; */
  /* text-transform: uppercase; */
  /* text-shadow: 3px 3px #db504a; */
  font-family: Yellowtail;
  /* font-weight: 700; */
  letter-spacing: 8px;
  font-weight: 400;
}

.uvod h2 {
  line-height: 1.2;
  position: relative;
  text-shadow: 4px 4px #3d6253;
  font-family: Castoro;
  letter-spacing: 4px;
  color: #fdf2e9;
  color: #fae3e3;
}

/* ovo je za intersection observer */
/* .fancy {
  color: #4c6a58;
  color: #fff;
  color: #fdf2e9;
   color: #fff; 
}  */

/* .buffer {
  height: 20rem;
} */

.cn_fK {
  position: absolute;
  top: 0;
  z-index: -1;
}

/***********************************************************************************************
************************************************************************************************
POCETAK CONTAINER
************************************************************************************************
************************************************************************************************/

/* Generic Styles */

.pocetak-container #learn {
  text-align: left;
  width: 50%;
  background-color: #000;
  color: #fff;
  /* border-right: 1px dashed red; */
}

.pocetak-container #teach {
  width: 50%;
  background-color: #000;
}

.pocetak-container h1 {
  margin: 0;
  font-size: 3rem;
  font-size: 5.1rem;
  color: #fed7aa;
  color: #fff;
}

.pocetak-container p {
  margin-top: 0.6rem;
}

.pocetak-container {
  /* width: 100%; */
  /* outline: 2px dashed red; */
  max-width: 1300px;
  margin: 0px auto;
}

#learn {
  background-color: #bae6fd;
  background-color: #fed7aa;
}

#teach {
  background-color: #bae6fd;
}

.pocetak-container a {
  display: inline-block;
  margin-top: 1.2rem;
  background-color: white;
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
}

/* Generic Styles End */

.pocetak-container {
  display: flex;
  margin-bottom: 30rem;
}

.pocetak-container .split {
  width: 50%;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .pocetak-container {
    flex-direction: column;
  }
  .pocetak-container .split {
    width: 100%;
    /* height: 50%; */
  }
  .pocetak-container #learn {
    width: 100%;
    border-right: none;
    /* border-bottom: 1px dashed red; */
    text-align: center;
  }
  .pocetak-container #teach {
    width: 100%;
  }

  .pocetak-container #teach svg {
    width: 70%;
  }
}

/* ANIMACIJE */

/* .pocetak-paragraf {
  animation: fadeInUp 1s forwards;
  opacity: 0;
  animation-delay: 0.3s;
} */

/* These styles are for centering the content within each split screen */
.pocetak-container .split {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pocetak-container svg {
  width: 100%;
  height: 100%;
  /* width: 80%; */
}

/* O boze
******************
******************
**************** */

.wrapper ul {
  box-sizing: content-box;
}

.hero {
  color: #fff;
}

:root {
  --primary-color: #7e00fd;
}

html {
  font-size: 62.5%;
}

p,
a {
  font-size: 1.8rem;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-cta,
.arrow {
  display: none;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.wrapper {
  margin: 2.6em;
}

/* Hero Section */

section.hero {
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

p.subhead {
  font-size: 2rem;
}

.cta-btns {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
}

.phone {
  width: 90%;
  margin-top: 5em;
  position: relative;
  z-index: 2;
}

/* Features Section */

section.features {
  background: #7e00fd;
  color: white;
  transform: skewY(12deg) translateY(-8em); /* SKEW */
}

section.features .wrapper {
  transform: skewY(-12deg); /* UN-SKEW */
}

section.features .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 5em 0 10em;
}

section.features svg {
  width: 3.5rem;
  margin-left: -0.15em;
}

section.features strong {
  display: flex;
  flex-direction: column;
  font-size: 2.6rem;
  gap: 0.2em;
}

/* Media Queries -- Tablet */

@media only screen and (min-width: 700px) {
  .header-cta {
    display: inherit;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 0.5em 0.7em;
    border-radius: 0.3em;
  }
  .hero .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3em;
  }
  section.hero {
    text-align: left;
  }
  h1 {
    font-size: 5.1rem;
    line-height: 110%;
  }
  .cta-btns {
    justify-content: left;
  }
  .phone {
    position: absolute;
    width: 500px;
    left: 0;
  }
  .hero .right-col {
    position: relative;
    width: 500px;
    height: 600px;
    overflow: hidden;
  }

  /* Features Section */

  section.features {
    transform: skewY(7deg) translateY(-8em); /* SKEW */
    position: relative;
  }
  section.features .wrapper {
    transform: skewY(-7deg); /* UN-SKEW */
  }

  section.features:before {
    content: "";
    position: absolute;
    background: url("../assets/graphic.svg") no-repeat;
    width: 205px;
    height: 80px;
    bottom: -30px;
    left: 10%;
  }

  section.features .wrapper ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 7em 0 12em;
  }

  section.features .wrapper ul li:last-of-type {
    grid-column: 1/3;
  }

  /* Testimonials Section */

  .testimonial-info {
    display: flex;
    gap: 2em;
  }
  .author-pic,
  .author {
    flex: 1;
  }
  .author-pic {
    margin: 0;
  }

  .author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Media Queries -- Desktop */

@media only screen and (min-width: 950px) {
  .wrapper {
    max-width: 1000px;
    margin: 2em auto;
  }

  .phone {
    position: absolute;
    width: 500px;
    left: -100px;
  }
  .hero .right-col {
    position: relative;
    width: 500px;
    height: 600px;
    overflow: inherit;
  }

  /* Features Section */

  section.features .wrapper ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 300px;
  }

  section.features .wrapper ul li:last-of-type {
    grid-column: auto;
    align-self: end;
  }

  section.features .wrapper ul li:nth-of-type(2) {
    align-self: center;
  }

  section.features:before {
    left: 20%;
  }
}

/* Animations */

.zamisli {
  animation: subtleMove 2s alternate-reverse infinite ease-in-out;
}
.plant {
  animation: subtleMove2 2s alternate-reverse infinite ease-in-out;
}

@keyframes subtleMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}

@keyframes subtleMove2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(25px);
  }
}

.features .wrapper ul li,
h1,
.pocetak-paragraf,
.mojedugme {
  animation: fadeInUp 1s forwards;
  opacity: 0;
}
.pocetak-paragraf {
  animation-delay: 0.3s;
}
.mojedugme {
  animation-delay: 0.6s;
}
.features .wrapper ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.features .wrapper ul li:nth-of-type(2) {
  animation-delay: 0.9s;
}
.features .wrapper ul li:nth-of-type(3) {
  animation-delay: 1.2s;
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/**************************************************************************************************************************************
***************************************************************************************************************************************
SVG ANIMACIJE
***************************************************************************************************************************************
***************************************************************************************************************************************/
.rect {
  animation: rotate 10s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rect-left {
  animation: rotate-left 8s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

/**********************
SVG HEADER
***********************/

.svg-header {
  max-width: 1300px;
  background-image: url(img/headersvg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: scroll;
  height: 100vh;
  margin: 0 auto;
}

/*************************************************************************************************************
APPROACH
*************************************************************************************************************/

.approach {
  line-height: 1.5;
  margin: 20rem auto;
  max-width: 1300px;
  text-align: center;
  color: #f3f3f7;
  flex-direction: flex;
  flex-direction: column;
}

.approach-h2 {
  line-height: 1;
  font-size: 8rem;
}

.approach-p {
  max-width: 60ch;
  /* width: 40ch; */
  text-align: center;
  /* outline: 1px dashed red; */
  margin: 3rem auto;
}

@media screen and (max-width: 663px) {
  .approach-h2 {
    font-size: 4rem;
  }
  .approach-p {
    /* color: red; */
    font-size: 1.7rem;
    max-width: 40ch;
  }
}

/*******************************************************************************************************
APPROACH FLEX
********************************************************************************************************/

.approach-flex {
  display: flex;
  /* outline: 1px dashed red; */
  margin: 7rem auto;
  gap: 2rem;
}

.lijevo {
  width: 50%;
  /* outline: 1px dashed red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.lijevo svg {
  width: 100%;
}

.desno {
  /* line-height: 1.5; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: left;
  /* width: 70ch; */
  /* margin-bottom: 2rem; */
}

.desno p {
  margin-bottom: 3rem;
}

.pristup-naslov {
  text-transform: uppercase;
  font-weight: 700;
}

.desno .pristup-naslov {
  margin-bottom: 1rem;
}

.sigurnost p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .approach-flex {
    flex-direction: column;
  }
  .lijevo {
    width: 100%;
  }
  .lijevo svg {
    width: 70%;
  }
  .desno {
    width: 100%;
    text-align: justify;
  }

  .desno .pristup-naslov {
    text-align: center;
  }
  .approach p {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

/************************************************************************************************************
SREDINA
**************************************************************************************************************/

/* Generic Styles */

h3 {
  color: #2754b3;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.sredina p {
  margin-bottom: 2rem;
}

.sredina {
  max-width: 1300px;
  margin: 20rem auto;
  color: #fff;
  line-height: 1.4;
}

.sredina > img {
  width: 100%;
  max-width: 420px;
  margin: auto;
}

/* Generic Styles End */

.sredina {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "img"
    "list1"
    "list2";
  column-gap: 2rem;
}

.sredina img {
  grid-area: img;
}

#list1 {
  grid-area: list1;
}

#list2 {
  grid-area: list2;
}

@media screen and (min-width: 600px) {
  .sredina {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "img list1"
      "img list2";
  }
}

@media screen and (min-width: 950px) {
  .sredina {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "list1 img list2";
  }
}

/* TEST */

.sredina {
  outline: 1px dashed red;
  justify-content: center;
  align-items: center;
}

#list1,
#list2 {
  width: 100%;
}

/* LINES  */

.lines {
  display: flex;
  /* outline: 1px dashed red; */
  width: 1300px;
  height: 100px;
  margin: 100px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.line1 {
  /* margin: 10px auto; */
  /* padding: 10px; */
  width: 1px;
  /* outline: 1px dashed blue; */
  border-top: 4px solid #f3f3f7;
  /* height: 5px; */
  transition: all 2s;
  margin-right: 200px;
}

.line2 {
  border-top: 4px solid #f3f3f7;
  width: 1px;
  transition: all 2s;
  margin-left: 200px;
}

.haha {
  transform: scale(300, 1);
  transition: all 2s;
}

.sredina svg {
  display: none;
}

.kakaka {
  max-width: 100%;
  width: 140px;
  opacity: 0;
  margin-top: 200px;

  /* display: none; */
}

.imgshow {
  opacity: 1;
  transform: translateY(-100px);
  transition: all 2s;
}

/* NOVI HEADER */

.landscape {
  background: var(--c1);
  height: 75vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.landscape__layer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(calc(var(--scrollPos, 0) * var(--offset, 0)));
}
@media (prefers-reduced-motion: reduce) {
  .landscape__layer {
    transform: translateY(0);
  }
}
.landscape__image {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-height: 100%;
  max-width: 300%;
  min-width: 100%;
  position: absolute;
  transform: translateX(-50%);
  width: 2500px;
}
.landscape__image svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/**
 * Styles for demo
 */
html {
  --c0: #feebe2;
  --c0: #f4e5e4;
  --c1: #ffe2a6;
  --c1: #fdd3d4;
  --c2: #ffb06d;
  --c2: #dabed9;
  --c3: #ff9d60;
  --c3: #c9afda;
  --c4: #ff8f4c;
  --c4: #af9ecc;
  --c5: #fc813a;
  --c5: #a497c5;
  --c6: #f04f30;
  --c6: #7e89be;
  --c7: #d2353a;
  --c7: #6472ab;
  --c8: #8b1036;
  --c8: #545986;
  --c9: #620a38;
  --c9: #3f4263;
  --c10: #2f1121;
  --c10: #2e2c40;
}

/* body {
  background: var(--c10);
  color: #fff;
  min-height: 200vh;
  margin: 0;
} */

.wrap {
  margin: 5rem auto;
  max-width: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

a {
  color: inherit;
  text-decoration-color: var(--c6);
}

/* DODATNO U NOVI HEADER */

h1 {
  text-align: center;
  font-family: "Castoro Titling", serif;
  font-size: 10rem;
  /* line-height: 1.5; */
  letter-spacing: 5px;
  color: #623cea;
  color: #2e2c40;
  color: #006989;
  color: #b43e8f;
  color: #3f4263;
  font-weight: 600;
  margin-top: 10rem;
  /* text-transform: uppercase; */
  /* outline: 1px dashed red; */
  /* text-shadow: 3px 3px #7e89be; */
}

.podnaslov {
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 15px;
  font-weight: 600;
  text-align: center;
  /* outline: 1px dashed blue; */
  padding-left: 8px;
  text-shadow: none;
}

.prva-poruka {
  text-align: center;
  width: 120ch;
  margin: 0 auto;
  color: #f3f3f7;
  line-height: 1.5;
}

.prva-poruka p {
  font-size: 3rem;
  font-family: Alegreya;
}

/* .fade-up {
  animation: fadeInUp 3s forwards;
  opacity: 0;
} */

.approach-h2 {
  margin-top: 30rem;
}

.hiddenshit {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}

.showshit {
  opacity: 1;
  filter: blur(0);
  transform: translateY(-0%);
}

.approach p {
  /* font-family: Alegreya; */
}

.approach-h2 {
  /* font-family: "Alegreya Sans SC", sans-serif; */
}

.approach-p {
  transition-delay: 0.5s;
  font-size: 2.2rem;
}

.approach-flex {
  margin-top: 20rem;
}

.odlijeva {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  transition-delay: 1s;
}

.oddesna {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 2s;
  transition-delay: 1s;
}

.pojavise {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}

.desni-oblak {
  /* display: none; */
  animation: lijevo-desno 7s ease infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}

.lijevi-oblak {
  /* display: none; */
  animation: lijevo-desno 7s ease infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}
.lijevi-oblak2 {
  /* display: none; */
  animation: lijevo-desno 7s ease infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
  animation-delay: 2s;
}

.desno-srce {
  animation: beat 3s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}

.desno-srce2 {
  animation: beat 3s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
  animation-delay: 1s;
}

.desno-srce3 {
  animation: beat 3s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
  animation-delay: 1.5s;
}

@keyframes beat {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(200%);
  }
  0% {
    transform: scale(100%);
  }
}

@keyframes lijevo-desno {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  0% {
    transform: translateX(0%);
  }
}

.pocetak-container #learn,
.pocetak-container #teach {
  background-color: #2e2c40;
}

.pocetak-container {
  color: #f3f3f7;
}

.pocetak-container h1 {
  font-family: Josefin Sans;
  letter-spacing: 2px;
  line-height: 1;
  font-size: 6.5rem;
  text-align: left;
  color: #f3f3f7;
}

.pocetak-container a {
  display: none;
}

.pocetak-container p {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  text-align: left;
  color: #f3f3f7;
}

.sredina {
  outline: none;
}

.sredina svg {
  display: block;
}

.sredina h3 {
  color: #fdd3d4;
  color: #af9ecc;
  color: #f4e5e4;
  color: #7e89be;
}

.pojmanemam {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 2s;
  /* transition-delay: 1s; */
}

.pojmadesna {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0%);
}

.lijevopojma {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 2s;
}

.pojmalijeva {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0%);
}

.svg-header {
  height: 100vh;
  background-size: auto;
}

.features,
.uvod,
.ab-text,
.section-how,
.side {
  display: none;
}
