/******************************************************************************
GENERAL 
*******************************************************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: inherit;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.8rem;
}

/******************************************************************************
DESIGNED WITH AND SVG
*******************************************************************************/

.bottom {
  text-align: center;
  color: #adb5bd;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}

.bottom svg {
  height: 1.5em;
  width: 1.5em;
  /* fill: #e76f51; */
  animation: beating-heart 2s infinite;
}

@keyframes beating-heart {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/***********************************************************************************************
POCETAK CONTAINER
************************************************************************************************/

.l-tekst {
  text-align: left;
  width: 50%;
  background-color: #000;
  color: inherit;
  /* border-right: 1px dashed red; */
}

.d-slika {
  width: 50%;
  background-color: #000;
}

.pocetak-container h1 {
  margin: 0;
  font-size: 3rem;
  font-size: 5.1rem;
}

.pocetak-container p {
  margin-top: 0.6rem;
}

.pocetak-container {
  max-width: 1300px;
  margin: 0px auto;
}

.l-tekst {
  background-color: inherit;
}

.d-slika {
  background-color: inherit;
}

.pocetak-container {
  display: flex;
  margin-bottom: 30rem;
}

.pocetak-container .split {
  width: 50%;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .pocetak-container {
    flex-direction: column;
  }
  .pocetak-container .split {
    width: 100%;
    /* height: 50%; */
  }
  .l-tekst {
    width: 100%;
    border-right: none;
    /* border-bottom: 1px dashed red; */
    text-align: center;
  }
  .d-slika {
    width: 100%;
  }

  .d-slika svg {
    width: 70%;
  }
}

.pocetak-container .split {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pocetak-container svg {
  width: 100%;
  height: 100%;
  /* width: 80%; */
}

/* Animations */

.djevojka {
  animation: subtleMove 2s alternate-reverse infinite ease-in-out;
}
.biljka {
  animation: subtleMove2 2s alternate-reverse infinite ease-in-out;
}

@keyframes subtleMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}

@keyframes subtleMove2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(25px);
  }
}

.features .wrapper ul li,
h1,
.pocetak-paragraf {
  animation: fadeInUp 1s forwards;
  opacity: 0;
}
.pocetak-paragraf {
  animation-delay: 0.3s;
  text-align: left;
}
.mojedugme {
  animation-delay: 0.6s;
}
.features .wrapper ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.features .wrapper ul li:nth-of-type(2) {
  animation-delay: 0.9s;
}
.features .wrapper ul li:nth-of-type(3) {
  animation-delay: 1.2s;
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/**************************************************************************************************************************************
SVG ANIMACIJE
***************************************************************************************************************************************/
.rect {
  animation: rotate 10s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rect-left {
  animation: rotate-left 8s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

/**********************
SVG HEADER
***********************/

.svg-header {
  width: 100%;
  /* max-width: 1300px; */
  background-image: url(img/headersvg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  background-attachment: scroll;
  height: 100vh;
  margin: 0 auto;
  background-color: #af8cad;
  background-color: #9e81a8;
  background-color: #84617e;
  position: relative;
}

/*************************************************************************************************************
uvod
*************************************************************************************************************/

.uvod {
  line-height: 1.5;
  margin: 20rem auto;
  max-width: 1300px;
  text-align: center;
  color: inherit;
  flex-direction: flex;
  flex-direction: column;
}

.uvod-h2 {
  line-height: 1;
  font-size: 8rem;
}

.uvod-p {
  max-width: 60ch;
  /* width: 40ch; */
  text-align: center;
  /* outline: 1px dashed red; */
  margin: 3rem auto;
}

@media screen and (max-width: 663px) {
  .uvod-h2 {
    font-size: 4rem;
  }
  .uvod-p {
    /* color: red; */
    font-size: 1.7rem;
    max-width: 40ch;
  }
}

/*******************************************************************************************************
uvod FLEX
********************************************************************************************************/

.uvod-flex {
  display: flex;
  /* outline: 1px dashed red; */
  margin: 7rem auto;
  gap: 2rem;
}

.lijevo {
  width: 50%;
  /* outline: 1px dashed red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.lijevo svg {
  width: 100%;
}

.desno {
  /* line-height: 1.5; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: left;
  /* width: 70ch; */
  /* margin-bottom: 2rem; */
}

@media screen and (max-width: 768px) {
  .desno {
    margin-top: 5rem;
  }
}

.desno p {
  margin-bottom: 3rem;
}

.pristup-naslov {
  text-transform: uppercase;
  font-weight: 700;
}

.desno .pristup-naslov {
  margin-bottom: 1rem;
}

.sigurnost p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .uvod-flex {
    flex-direction: column;
  }
  .lijevo {
    width: 100%;
  }
  .lijevo svg {
    width: 70%;
  }
  .desno {
    width: 100%;
    text-align: justify;
  }

  .desno .pristup-naslov {
    text-align: center;
  }
  .uvod p {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

/************************************************************************************************************
SREDINA
**************************************************************************************************************/

/* Generic Styles */

h3 {
  /* color: #2754b3;
  color: #f9b7c8; */
  margin-bottom: 1rem;
  font-size: 2rem;
}

.sredina p {
  margin-bottom: 2rem;
}

.sredina {
  max-width: 1300px;
  margin: 20rem auto;
  color: inherit;
  line-height: 1.4;
}

.sredina > img {
  width: 100%;
  max-width: 420px;
  margin: auto;
}

/* Generic Styles End */

.sredina {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "img"
    "list1"
    "list2";
  column-gap: 2rem;
}

.sredina img {
  grid-area: img;
}

#list1 {
  grid-area: list1;
}

#list2 {
  grid-area: list2;
}

@media screen and (min-width: 600px) {
  .sredina {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "img list1"
      "img list2";
  }
}

@media screen and (min-width: 950px) {
  .sredina {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "list1 img list2";
  }
}

/* TEST */

.sredina {
  outline: 1px dashed red;
  justify-content: center;
  align-items: center;
}

#list1,
#list2 {
  width: 100%;
}

/* LINES  */

.lines {
  display: flex;
  /* outline: 1px dashed red; */
  width: 1300px;
  max-width: 80%;
  /* max-width: 100%; */
  height: 100px;
  margin: 100px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  /* outline: 1px dashed darksalmon; */
  gap: 10px;
  overflow: hidden;
}

.line1 {
  width: 0px;

  border-top: 2px solid #f3f3f7;

  transition: all 2s;
}

.line2 {
  border-top: 2px solid #f3f3f7;
  width: 0px;
  transition: all 2s;
}

.svg-icona {
  margin: 0 12rem;
}

.anim1 {
  width: 1px;
  transform: scaleX(-220);
  transition: all 2s;
}
.anim2 {
  width: 1px;
  transform: scaleX(220);
  transition: all 2s;
}

.prva-ikona {
  max-width: 100%;
  width: 100px;
  opacity: 0;
  margin-top: 200px;
}

.imgshow {
  opacity: 1;
  transform: translateY(-100px);
  transition: all 2s;
}

@media (max-width: 700px) {
  .svg-icona {
    margin: 0 6rem;
  }
  .anim {
    transform: scale(60, 1);
    transition: all 2s;
  }
}

/* NOVI HEADER */

.landscape {
  background: var(--c1);
  background-color: #eec5b9;
  height: 75vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* outline: 4px dashed red; */
}
.landscape__layer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(calc(var(--scrollPos, 0) * var(--offset, 0)));
}

.landscape__image {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-height: 100%;
  max-height: 60%;
  max-width: 300%;
  max-width: 250%;
  min-width: 100%;
  position: absolute;
  transform: translateX(-50%);
  width: 2000px;
  /* outline: 1px dashed blue; */
}
.landscape__image svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/**
 * Styles for demo
 */
/* html {
  --c0: #feebe2;
  --c1: #ffe2a6;
  --c2: #ffb06d;
  --c3: #ff9d60;
  --c4: #ff8f4c;
  --c5: #fc813a;
  --c6: #f04f30;
  --c7: #d2353a;
  --c8: #8b1036;
  --c9: #620a38;
  --c10: #2f1121;
} */

body {
  background: var(--c10);
  /* background-color: #eec5b9; */
  background-color: #281f32;
  color: #fff;
  /* min-height: 200vh; */
  margin: 0;
}

.wrap {
  margin: 5rem auto;
  max-width: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

a {
  color: inherit;
  text-decoration-color: var(--c6);
}

@media (prefers-reduced-motion: reduce) {
  .landscape__layer {
    transform: translateY(0);
  }
}

/* DODATNO U NOVI HEADER */

h1 {
  text-align: center;
  font-family: "Castoro Titling", serif;
  font-size: 10rem;
  /* line-height: 1.5; */
  letter-spacing: 5px;
  color: #623cea;
  color: #2e2c40;
  color: #006989;
  color: #b43e8f;
  color: #3f4263;
  font-weight: 600;
  margin-top: 10rem;

  /* text-transform: uppercase; */
  /* outline: 1px dashed red; */
  /* text-shadow: 3px 3px #7e89be; */
}

.podnaslov {
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 15px;
  font-weight: 600;
  text-align: center;
  /* outline: 1px dashed blue; */
  padding-left: 8px;
  text-shadow: none;
}

.prva-poruka {
  /* width: 120ch; */
  margin: 0 auto;
  /* color: #f3f3f7; */
  line-height: 1.5;
}

.prva-poruka p {
  text-align: center;
  font-size: 3rem;
  font-family: Josefin Sans, sans-serif;
  max-width: 44ch;
  margin: 0 auto;
}

/* .fade-up {
  animation: fadeInUp 3s forwards;
  opacity: 0;
} */

.uvod-h2 {
  margin-top: 30rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  /* transition: all 1s; */
  transition: transform 1s, filter 1s, opacity 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(-0%);
}

.uvod-p {
  transition-delay: 0.5s;
  font-size: 2.2rem;
}

.uvod-flex {
  margin-top: 20rem;
  overflow: hidden;
}

.odlijeva {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 1s;
  transition-delay: 0.5s;
}

.oddesna {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(50%);
  /* transition: all 1s; */
  transition: transform 1s, filter 1s, opacity 1s;
  transition-delay: 1s;
}

.pojavise {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}

.desni-oblak {
  /* display: none; */
  animation: lijevo-desno 7s ease infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}

.lijevi-oblak {
  /* display: none; */
  animation: lijevo-desno 7s ease infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}
.lijevi-oblak2 {
  /* display: none; */
  animation: lijevo-desno 7s ease infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
  animation-delay: 2s;
}

.desno-srce {
  animation: beat 3s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
}

.desno-srce2 {
  animation: beat 3s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
  animation-delay: 1s;
}

.desno-srce3 {
  animation: beat 3s linear infinite;
  /* transform-origin: 132px 62px; */
  transform-origin: center center;
  transform-box: fill-box;
  animation-delay: 1.5s;
}

@keyframes beat {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(200%);
  }
  0% {
    transform: scale(100%);
  }
}

@keyframes lijevo-desno {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  0% {
    transform: translateX(0%);
  }
}

.pocetak-container {
  color: inherit;
}

.pocetak-container h1 {
  font-family: Josefin Sans;
  letter-spacing: 2px;
  line-height: 1;
  font-size: 6.5rem;
  text-align: left;
}

.pocetak-container a {
  display: none;
}

.pocetak-container p {
  margin-top: 2rem;
  font-size: 2rem;
  color: inherit;
}

.sredina {
  outline: none;
}

.sredina svg {
  display: block;
}

.desnopojma {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 2s;
  /* transition-delay: 1s; */
}

.pojmadesna {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0%);
}

.lijevopojma {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 2s;
}

.pojmalijeva {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0%);
}

.svg-header {
  height: 100vh;
  background-size: auto;
}

/* body p,
h1,
h2,
h3 {
  color: #eae6ef;
} */

.landscape h1 {
  /* color: #463758; */
  font-size: clamp(3rem, 12vw + 1rem, 8rem);
}

h1 p {
  color: inherit;
}

/******************************************************************************
FOOTER
*******************************************************************************/

footer {
  background-color: #af8cad;
  background-color: #9e81a8;
  background-color: #84617e;
  /* position: relative; */
}

.layer {
  background-color: #af8cad;
  background-color: #9e81a8;
  background-color: #84617e;
  margin-bottom: 15rem;
}

.contact {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-7rem);
  color: inherit;
}

.contact h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.contact p {
  line-height: 1.5;
  font-size: 2rem;
}

.mail-tekst {
  margin-top: 2rem;
}

.contact a {
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

p.mail,
p.telefon {
  font-weight: bold;
  font-size: 3rem;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.bottom p {
  color: #281f32;
}

@media (max-width: 573px) {
  .contact h2 {
    font-size: 4rem;
  }
  .contact p {
    font-size: 1.9rem;
  }
}

/******************************************************************************
LIGHT/DARK MODE
*******************************************************************************/

.nav-button {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 8%;
  margin-top: 2%;
  cursor: pointer;
  z-index: 1;
}

.nav-button svg {
  width: 2.5rem;
}

.change-theme {
  transition: none;
  color: #281f32;
  font-size: 3rem;
  transition: 2s ease;
}

.change-theme-light {
  color: #ffeedb;
}

.body-light-theme {
  background-color: #ffeedb;
}

.svg-header {
  background-color: inherit;
}

.go-blue {
  background-color: #59c3c3;
  background-color: #81adc8;
  background-color: #9cbed3;
  background-color: #86b5a2;
}

body {
  color: #eae6ef;
}
.font-color-dark {
  color: #4d5057;
}
body p,
h2,
h1 {
  color: inherit;
}

.line1-dark {
  border-top: 2px solid #4d5057;
}

.line2-dark {
  border-top: 2px solid #4d5057;
}

/******************************************************************************
BRDA
*******************************************************************************/

.brdo1 {
  transition: 2s ease;
  fill: #281f32;
}

.zadnje-brdo {
  transition: 2s ease;
  fill: #281f32;
}

.brdo-fill {
  fill: #ffeedb;
}

.brdo2 {
  transition: 2s ease;
  fill: #84617e;
}
.brdo2-fill {
  fill: #ddd3c4;
}

.brdo3 {
  transition: 2s ease;
  fill: #9e81a8;
}

.brdo3-fill {
  fill: #bbb8ac;
}

.brdo4 {
  transition: 2s ease;
  fill: #af8cad;
}

.brdo4-fill {
  fill: #999d95;
}

.brdo5 {
  transition: 2s ease;
  fill: #e89aa3;
}

.brdo5-fill {
  fill: #76817e;
}

.brdo6 {
  transition: 2s ease;
  fill: #edae9b;
}

.brdo6-fill {
  fill: #546666;
}

.landscape {
  transition: background-color 2s ease;
  background-color: #eec5b9;
}

.landscape-light {
  background-color: #324b4f;
}

.glavni-naslov {
  color: #281f32;
  transition: 2s ease;
}

.glavni-naslov-light {
  color: #ffeedb;
}

/******************************************************************************
MAIN HEAD
*******************************************************************************/

.head-color {
  fill: #f8cbce;
  transition: fill 2s ease;
}

.head-color-change {
  fill: #659b92;
}

.head-brain {
  fill: #ef848c;
  transition: fill 2s ease;
}

.head-brain-change {
  fill: #d8f8ea;
}

.brain-linije {
  fill: #e8505b;
  transition: fill 2s ease;
}

.brain-linije-change {
  fill: #188b59;
}

.rect-lighter {
  fill: #e0e0e0;
}

.rect-lighter-change {
  fill: #c1a788;
}

.rect-darker {
  fill: #f5f5f5;
}

.rect-darker-change {
  fill: #504538;
}

.head-accent {
  fill: #e8505b;
}

.head-accent-change {
  fill: #bca6aa;
  fill: #c25450;
}

/******************************************************************************
bez animacija
*******************************************************************************/

@media screen and (max-width: 768px) {
  /* *,
  *:before,
  *:after  */
  /*CSS transitions*/
  /* transition-property: none !important; */
  /*CSS transforms*/
  /* transform: none !important; */
  /*CSS animations*/
  /* animation: none !important; */
  .uvod-h2,
  .uvod-p,
  .odlijeva,
  .oddesna,
  .lijevopojma,
  .pojmalijeva,
  .desnopojma,
  .pojmadesno {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    /* animation: none !important; */
  }
}

/******************************************************************************
ACCENT
*******************************************************************************/

.light-accent {
  color: #e89aa3;
}

.dark-accent {
  color: #67a28a;
}

@media screen and (max-width: 768px) {
  .pocetak-container h1,
  .pocetak-paragraf {
    text-align: center;
  }
  .prva-poruka {
    margin: 0 3rem;
  }
}

@media screen and (max-width: 768px) {
  .sredina {
    text-align: center;
  }
  .sredina > svg {
    width: 70%;
    margin: 10rem auto;
  }
  .nav-button {
    margin-top: 5%;
  }
}

/******************************************************************************
footer accent
*******************************************************************************/

.footer-accent {
  color: #e17a86;
}

.footer-light-accent {
  color: #cafbe7;
}

@media screen and (max-width: 573px) {
  .contact {
    transform: translateY(10rem);
  }
  /* .layer {
    margin-bottom: 1rem;
  } */
}

/******************************************************************************
accordion sekcija
******************************************************************************/

/* .accordion-sekcija {
  height: 70vh;
  background-color: #af8cad;
  margin-top: 40rem;
}

.accordion-sekcija svg {
  fill: #af8cad;
  margin-top: -20rem;
}

.mapa {
  /* padding-top: 60px; */
/* background-color: #f6c8a2; */
/* padding-bottom: 60px; */
/* display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20rem;
  padding-right: 20rem;
} */

/* iframe {
  vertical-align: bottom;
  /* filter: grayscale(80%); */
/* width: 98%; */
/* outline: 1px solid blue; */
/* border-radius: 10px;
  box-shadow: var(--shadow);
}   */

/******************************************************************************
Rijesenje problema prikaza elemenata na mobu sa novim Int.obs.
******************************************************************************/

@media screen and (max-width: 768px) {
  .hidden {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    animation: none !important;
  }

  .hidden,
  .odlijeva,
  .lijevopojma,
  .desnopojma {
    opacity: 1;
    filter: blur(0);
  }
}

/******************************************************************************
body background - odabir teme problem sa transition cekanjem
******************************************************************************/

body {
  transition: 2s ease;
}

/* mozes kao transition: all ili nesto specificno */
/* .boja {
  color: plum;
  transition: 2s;
} */
